{
  "extends": ["node-important-stuff"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": "off"
  }
}
